#parent-div {
    display: flex;
    flex-direction: column;
}
#secondary-div {
    background-color: var(--mainColor);
    margin-top: 7rem; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
#artist-details-div-1 {
    width: 500px;
    height: 840px;
    background-color: var(--secondaryColor);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: rgba(112, 21, 22);
    margin-left: 25px;
}
#third-div {
    display: flex;
    flex-direction: column;
}
#artist-details-div {
    width: 500px;
    height: 85px;
    background-color: var(--secondaryColor);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: rgba(112, 21, 22, .7);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    position: fixed;
    margin-left: 22%;
    margin-top: 760px;
}
#artist-work-images {
    width: 1353px;
    background-color: var(--mainColor);
    border-radius: 10px;
    margin-left: 10px;
}
#image-name-div {
    width: 440px;
    height: 200px;
    background-color: var(--secondaryColor);
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background: rgba(112, 21, 22, .0);
}
#image {
    width: 200px;
    height: 200px;
    background-color: var(--mainColor);
    border-radius: 10px;
}
#name {
    margin-left: 20px;
    margin-top: 10px;
}
#name p {
    line-height: 1.5;
    font-weight: bold;
    color: var(--secondaryTextColor);
}
#artist-option-buttons {
    margin-top: 25px;
    margin-left: 25px;
}
.option-buttons {
    margin-left: 20px;
    background-color: var(--mainColor);
    width: 134px;
    height: 35px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    color: var(--secondaryTextColor);
    font-weight: bold;
    text-align: center;
}
#option-button-1 {
    background-color: var(--mainColor);
    width: 134px;
    height: 35px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    color: var(--secondaryTextColor);
    font-weight: bold;
    text-align: center;
}
#artist-work {
    width: 309px;
    height: 327px;
    border-radius: 10px;
    margin-left: 23px;
    margin-top: 18px;
    transition: 500ms;
}
#artist-work:hover {
    transform:scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .6);
}
#artist-work-text {
margin-left: 25px;
color: var(--secondaryTextColor);
}



