#footer {
    background-color: var(--secondaryColor);
    height: 25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--textColor);
}

#footer #img-wrapper {
    width: 20rem;
    height: 20rem;
    position: relative;
}

#footer #footer-logo img{
    width: 20rem;
    height: 20rem;
}

#footer #img-wrapper::after{
    content: "We select a group of top-notch licensed tattoo artists for you. Wanna get inked? Talk to us!";
    height: max-content;
    width: 18rem;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 0.9rem;
    z-index: 100;
}