body {
    background-color: #2A272A;
}

.landing-page-parent {
    display: flex;
    flex-direction: column;
}

.vertical-align-one {
    text-align: center;
}

#vertical-align-one-p {
    color: var(--textColor);
    padding-top: 1.4rem;
    font-size: xx-large;
    font-weight: bold;
}

#holder-1-p {
    color: var(--secondaryTextColor);
}

.get-started {
    margin-top: 3.125rem;
    background-color: var(--secondaryColor);
    width: 12.5rem;
    height: 2.25rem;
    border: 0.05rem solid var(--secondaryColor);
    cursor: pointer;
    border-radius: 0.75rem;
    color: var(--textColor);
    font-weight: bold;
}

.holder {
    background-color: var(--mainColor);
    width: 80vw;
    border-radius: 0.625rem;
    margin-top: 6.25rem;
    margin-left: auto;
    margin-right: auto;
}

.holder-1 {
    background-color: var(--mainColor);
    width: 60vw;
    border-radius: 0.625;
    margin-top: 1.375rem;
    margin-left: auto;
    margin-right: auto;
}

.holder-2 {
    background-color: var(--secondaryColor);
    width: 80vw;
    border-radius: 0.375rem;
    height: 31.25rem;
    margin-top: 6.25rem;
    margin-left: auto;
    margin-right: auto;
}

.holder-3 {
    background-color: var(--mainColor);
    margin-top: 9.375rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
    display: flex;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.left-clients-holder {
    background-color: var(--secondaryColor);
    width: min(39.375rem, 80vw);
    height: 43.75rem;
    border-radius: 0.625rem;
    color: var(--textColor);
    font-size: medium;
    font-weight: bold;
}

.left-clients-holder button {
    margin-top: 1.875rem;
    background-color: var(--mainColor);
    width: 12.5rem;
    height: 2.1875rem;
    border: 0.0625rem solid var(--mainColor);
    cursor: pointer;
    border-radius: 0.75rem;
    color: var(--textColor);
    font-weight: bold;
}

#left-clients-holder-p {
    color: var(--mainColor);
    font-size: medium;
    font-weight: bold;
    padding-top: 0.375rem;
    
}

#left-clients-holder-p1 {
    font-weight: lighter;
    color: var(--mainColor);
    padding-top: 0.375rem;
}

.clients-text {
    background-color: var(--mainColor);
    width: 38.375rem;
    height: 32.8125rem;
    border: 0.125rem solid var(--secondaryColor);
    border-radius: 0.625rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.4375rem;
}

.right-artists-holder {
    background-color: var(--secondaryColor);
    width: min(39.375rem, 80vw);
    height: 43.75rem;
    border-radius: 0.625rem;
    color: var(--textColor);
    font-weight: bold;
}

.right-artists-holder button {
    margin-top: 1.875rem;
    background-color: var(--mainColor);
    width: 12.5rem;
    height: 2.1875rem;
    border: 0.0625rem solid var(--mainColor);
    cursor: pointer;
    border-radius: 0.75rem;
    color: var(--textColor);
    font-weight: bold;
}

#right-artists-holder-p {
    color: var(--mainColor);
    font-size: medium;
    font-weight: bold;
    padding-top: 0.375rem;
}

#right-artists-holder-p1 {
    font-weight: lighter;
    color: var(--mainColor);
    padding-top: 0.375rem;
}

.holder-4 {
    background-color: var(--mainColor);
    margin-top: 1.875rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#holder-4-p {
    color: var(--mainColor);
    font-size: medium;
    font-weight: bold;
    padding-top: 0.625rem;
}

#holder-4-ink {
    color: var(--mainColor);
    font-size: medium;
    padding-top: 0.375rem;
}

.get-inked-today {
    background-color: var(--secondaryColor);
    width: min(26.25rem, 67vw);
    padding: 0.5rem;
    min-height: max-content;
    border-radius: 0.625rem;
    border: 0.0625rem solid var(--mainColor);
    margin-left: 0;
}

.inked-today-text {
    width: 25rem;
    height: 23.75rem;
    background-color: var(--mainColor);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.53125rem;
    border-radius: 0.625rem;
}

.get-piercing-today {
    background-color: var(--secondaryColor);
    width: min(26.25rem, 67vw);
    padding: 0.5rem;
    min-height: max-content;
    border-radius: 0.625rem;
    border: 0.0625rem solid var(--mainColor);
    margin-left: 0.9375rem;
}

.access-shop-today {
    background-color: var(--secondaryColor);
    width: min(26.25rem, 67vw);
    padding: 0.5rem;
    min-height: max-content;
    border-radius: 0.625rem;
    border: 0.0625rem solid var(--mainColor);
    margin-left: 0.9375rem;
}

#client-reviews-text {
    color: var(--textColor);
    margin-top: 10.9375rem;
    font-size: xx-large;
    font-weight: bold;
}

.holder-5-reviews {
    width: min(93.75rem, 80vw);
    background-color: var(--mainColor);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: var(--secondaryTextColor);
    margin-top: 4.375rem;
    border-radius: 0.625rem;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.reviews-card {
    width: 30rem;
    border: 0.125rem solid var(--mainColor);
    border-radius: 0.625rem;
    background-color: var(--secondaryColor);
    padding: 0.6rem;
}

.reviews-text {
    width: 29rem;
    border-radius: 0.625rem;
    margin: auto;
}

#reviews-comma {
    margin-left: 1rem;
}

#reviews-p-text {
    width: 28.5rem;
    margin-top: -1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.7rem;
    line-height: 1.3;
}

.user-info-review {
    width: 27rem;
    height: 4.6875rem;
    background-color: #2A272A;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.625rem;
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
}

#reviews-card-2 {
    margin-left: 0.9375rem;
}

#reviews-card-3 {
    margin-left: 0.9375rem;
}

.holder-6-vision {
    width: 87.5rem;
    background-color: var(--mainColor);
    margin-top: 10.9375rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.625rem;
    text-align: left;
    color: var(--textColor);
    display: flex;
    flex-direction: row;
}

.left-vision {
    margin-top: auto;
    margin-bottom: auto;
}

#left-vision-header {
    font-size: xx-large;
    font-weight: bold;
    margin-left: 1.875rem;
}

.left-vision-text {
    background-color: var(--mainColor);
    width: 31.25rem;
}

#left-vision-text-p {
    line-height: 1.3;
    margin-top: 0.9375rem;
    margin-left: 1.875rem;
    font-weight: bold;
    color: var(--secondaryTextColor);
}

.left-vision button {
    margin-top: 1.5625rem;
    background-color: var(--secondaryColor);
    width: 12.5rem;
    height: 2.1875rem;
    border: 0.0625rem solid var(--secondaryColor);
    cursor: pointer;
    border-radius: 0.625rem;
    color: var(--textColor);
    font-weight: bold;
    margin-left: 1.875rem;
}

.right-vision {
    background-color: var(--secondaryColor);
    width: 56.25rem;
    height: 28.125rem;
    border-radius: 0.625rem;
}

