#register-page-parent {
    background-color: aquamarine;
    height: 100vh;
    display: flex;
}
#left-side {
    height: 100%;
    width: 50%;
    background-color: antiquewhite;
}
#right-side {
    height: 100%;
    width: 50%;
    background-color: beige;
}